body {
 overflow: hidden;
}

.content {
 position: fixed;
 top: 0;
 left: 0;
 right: 300px;
 bottom: 0;
 overflow-x: auto;
 overflow-y: hidden;

 .split-line {
  width: 1px;
  top: 0;
  bottom: 0;
  background: red;
  position: absolute;
  z-index: 2;
 }

 table {
  width: 100%;
  table-layout: fixed;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;

  th {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: pre;
   text-align: center;
   background: #ccc;
   font-size: 12px;
   padding: 0 2px;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
  }


  td {
   padding: 0;
   border-bottom: 1px solid #f5f5f5;
   font-family: monospace;
   line-height: 19px;
   height: 19px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: pre;
   font-size: 12px;
   padding: 0 2px;
   border-right: 1px solid #ddd;
  }

  th.hgc {
   background: #aaa;
  }
  td.hgc {
   background: #dfdfdf;
  }
  tr.hgr {
   background: #dfdfdf;
  }
  td.hg {
   border: 1px solid #999;
  }
 }

 .table-body-wrapper {
  overflow-y: auto;
 }
}

.sidebar {
 position: fixed;
 top: 0;
 right: 0px;
 bottom: 0;
 width: 300px;
 padding-left: 20px;
 padding-right: 20px;
 box-sizing: border-box;
 border-left: 5px solid #aaa;
 overflow-y: scroll;
 button {
  display: block;
  margin: 10px auto;
 }
 input {
  font-family: monospace;
 }

 p {
  height: 38px;
  color: #999;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  margin-bottom: 0px;
 }
 .remove {
  display: inline-block;
  float: right;
  color: #c00;
  cursor: pointer;
 }



 .operations-list, .history-list {
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
   height: 38px;
   color: #999;
   font-size: 11px;
   font-weight: 600;
   line-height: 38px;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-decoration: none;
   white-space: nowrap;
   background-color: transparent;
   border: none;
   box-sizing: border-box;
   margin-bottom: 0px;
  }
  div.first {
   border-top: 1px solid #bbb;
  }
  div {
   height: 38px;
   padding: 0 30px;
   color: #555;
   text-align: center;
   font-size: 11px;
   font-weight: 600;
   line-height: 38px;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-decoration: none;
   white-space: nowrap;
   background-color: transparent;
   border: 1px solid #bbb;
   cursor: pointer;
   box-sizing: border-box;
   border-top: none;
  }
 }
}
